.home__hero {
    min-height: 100vh;
    background-color: #818CF8;
    background-image: url("https://res.cloudinary.com/dev-project/image/upload/f_auto,q_auto/v1616017378/aperture-solar/hero-solar-roof-bw_hdsfsk.jpg");
    background-blend-mode: multiply;
}