* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-padding-horiz: 8rem;
  --mobile-med-header-padding-horiz: 2rem;
  --home-sect-padding-vert: 3rem;

  --base-fz: 1.0625rem;

  --very-light-indigo: #eef2ff;
  --light-indigo: #c7d2fe;
  --med-indigo: #818cf8;
  --dark-indigo: #6366f1;
  --very-dark-indigo: #3730a3;

  --light-orange: #fed7aa;
  --dark-orange: #c2410c;

  --light-grey: #e5e7eb;
  --dark-grey: #374151;
  --very-dark-grey: #111827;
}

body,
label,
input,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
}