* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-padding-horiz: 10rem;

  --light-indigo: #c7d2fe;
  --med-indigo: #818cf8;
  --dark-indigo: #6366f1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}