.home__hero {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    background-color: var(--med-indigo);
    background-image: url("https://res.cloudinary.com/dev-project/image/upload/f_auto,q_auto/v1616017378/aperture-solar/hero-solar-roof-bw_hdsfsk.jpg");
    background-blend-mode: multiply;
}

.home__hero__title-sect {
    padding-left: var(--header-padding-horiz);
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.home__hero__title,
.home__hero__title--subheading {
    color: #fff;
}

.home__hero__title {
    font-size: 4.5rem;
    line-height: 1;
}

.home__hero__title--subheading {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Main Content Layout/Styling */
.home__main__sect {
    display: grid;
    grid-template-columns: 3.5fr 5fr;
}

/* Flip layout order, bg color, and text color for even sections */
.home__main__sect:nth-of-type(even) {
    grid-template-columns: 5fr 3.5fr;
    background-color: var(--very-dark-indigo);
}

.home__main__sect__inner-sect-content {
    padding: var(--home-sect-padding-vert) var(--header-padding-horiz);
}

.home__main__sect__inner-sect__title,
/* Apply to main section titles and bottom app section title */
.home__main__app-sect__desc__title {
    margin-bottom: .75rem;
    font-size: 1.625rem;
    color: var(--very-dark-grey);
}

.home__main__sect__inner-sect__title--light {
    color: var(--very-light-indigo);
}

.home__main__sect__inner-sect__desc,
/* Apply to both main sections, and bottom app section */
.home__main__app-sect__desc__para {
    max-width: 60ch;
    line-height: 1.6;
    font-size: var(--base-fz);
    color: var(--dark-grey);
}

.home__main__sect__inner-sect__desc--light {
    color: var(--light-indigo);
}

.home__main__sect__inner-sect-visual__fig {
    width: 100%;
}

.home__main__sect__inner-sect-visual__fig__img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Ending section */
.home__main__app-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.home__main__app-sect__fig {
    padding: 2rem 2.5rem;
}

.home__main__app-sect__fig__illustration {
    width: 100%;
}

.home__main__app-sect__desc {
    padding: 0 2.5rem;
}

/* Mobile layout */
@media screen and (max-width: 75em) {
    .home__hero__title-sect {
        padding-left: var(--mobile-med-header-padding-horiz);
    }

    .home__hero__title {
        font-size: 3.5rem;
    }

    .home__hero__title--subheading {
        font-size: 1.25rem;
    }

    .home__main__sect,
    .home__main__sect:nth-of-type(even) {
        grid-template-columns: 1fr;
    }

    .home__main__sect__inner-sect-content {
        order: -1;
    }
}

@media screen and (max-width: 45em) {
    .home__main__sect__inner-sect-content {
        padding: var(--mobile-med-home-sect-padding-vert) var(--mobile-med-home-sect-padding-horiz);
    }

    .home__main__app-sect__fig {
        padding: 0 var(--mobile-med-home-sect-padding-horiz);
    }
}