.design-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
}

.header-design {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 10vh;
}

.design__gallery,
.design__customizer {
    height: 90vh;
}

.design__gallery {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.design__customizer {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
}