.nav__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    list-style: none;
}

.nav__list__item--left {
    grid-column: 1 / 2;
}

.nav__list__item--center {
    grid-column: 2 / 3;
    justify-self: center;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #fff;
    font-weight: 700;
    font-size: 1.0625rem;
}

.nav__logo {
    width: 18rem;
}

.logo-icon {
    fill: var(--light-indigo);
}